@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4 auth">
        <a href="https://docs.microsoft.com/aspnet/core/client-side/blazor/?view=aspnetcore-6.0">Docs</a>
        <a href="https://github.com/dotnet/aspnetcore/tree/main/src/Components">GitHub</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
