@page "/test"

@code {
    private string nombreUsuario;
    private string clave;

    private void HandleSubmit()
    {
        Console.WriteLine($"Usuario: {nombreUsuario}, Clave: {clave}");
    }
}

<EditForm Model="@this" OnValidSubmit="@HandleSubmit" FormName="Test">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Nombre de Usuario:</label>
        <InputText @bind-Value="nombreUsuario" />
    </div>
    <div>
        <label>Clave:</label>
        <InputText @bind-Value="clave" Type="password" />
    </div>

    <button type="submit">Enviar</button>
</EditForm>
